@font-face {
    font-family: 'digital';
    src: url('digital-7/digital.ttf');
}
*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    background-color: #009688;
    height: 8vh;
    padding-left: 8px;
    font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bolder;
}

.container{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73vh;
}

.clkcontainer{
    display: grid;
    justify-content: center;
    width: 45vw;
    border: 2px solid rgb(73,137,173);
    color: whitesmoke;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px -5px 0px 2px rgb(216, 14, 14);
    background: black;
}

.f1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bolder;
    padding: 25px 0px;
    padding-top: 55px;
    margin: 0 auto;
}

.clkscreen{
    display: grid;
    justify-content: center;
    width: 19vw;
    border: 2px solid rgb(73,137,173);
    border: 10px;
    box-shadow: 0px -5px 0px 2px rgb(247,6,6);
    background-color: rgb(0,0,0);
    color: rgba(24,255,43,0.979);
}

#time{
    margin: auto;
    font-family: 'digital';
    font-size: xxx-large;
}

#date{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bolder;
    position: absolute;
    padding: 0px 18px;
}

footer{
    text-align: center;
    background-color: #009688;
    height: 10vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    position: sticky;
    top: 1px;
    z-index: 1;
}